#paneGachChan{
    -fx-border-color: transparent transparent #ccc transparent;
    -fx-border-width: 0 0 1px 0;
}

#btnThoat{
    -fx-background-color: red;
    -fx-background-radius: 5px;
    -fx-text-fill: white;

}
#lblTrang{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
#btnThoat:pressed{
    -fx-background-color: #cc0000;
    -fx-text-fill: white;
}