#pnlGrid{
    -fx-background-color: #efefef;
}
#WhitePane{
    -fx-background-color: #ffffff;
    -fx-background-radius: 20px;
}
#WhitePane_BoNheGoc{
    -fx-background-color: #ffffff;
    -fx-background-radius: 5px;
}
#btnExcel{
    -fx-background-color: #ffffff;
    -fx-background-radius: 5px;
    -fx-border-color: #ffffff;
    -fx-text-fill: black;
    -fx-text-alignment: CENTER_RIGHT;

}