#btnXoa {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

#btnLuu {
    -fx-background-color: #4CAF50; /* Màu xanh lá */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
#btnDong{
-fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
#btnThemtk{
-fx-background-color: blue;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
#btnHuy{
-fx-background-color: gray;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}