#menuBar{
    -fx-background-color: #1e90ff;
}
.menu > .label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}
.menu .label:hover {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-color: #003cff;
}
.menu:hover{
    -fx-background-color: #003cff;
}
.menu:showing{
    -fx-background-color: #003cff;
}
.menu.active {
    -fx-background-color: #003cff;
}
#pnlGrid{
    -fx-background-color: #efefef;
}

#paneMain{
    -fx-background-color: #ffffff;
    -fx-background-radius: 20px;
}
.table-view {
    -fx-focus-traversable: false;
}